* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.main-grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 1fr 1fr 6fr 1fr;
  grid-template-columns: 1fr 10fr 1fr;
}

.main-grid .header {
  grid-column: 1 / -1;
  grid-row: 1/2;
  height: 50px;
}

.dashboard {
  display: flex;
  width: 100%;
  justify-content: center;
}

.wrapper {
  grid-column: 2 /3;
  grid-row: 2/3;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.grid {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 100%;
  height: 80%;
  display: grid;
  margin: auto 0;
  grid-template-columns: repeat(2, 1fr);

  grid-template-rows: auto;
  grid-gap: 2rem;
}

.main-grid .footer {
  grid-column: 1/-1;
  grid-row: 4/5;
  height: 50px;
}

@media (min-width: 450px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}
