body {
  margin: 0;
  background: linear-gradient(#393f4d, #1d1e22);
}

.main-grid .header,
.main-grid footer {
  background-color: #d4d4dc;
}

.main-grid .header h2 {
  padding-left: 15px;
}

#btn-play i {
  font-size: 3rem;
  color: #feda6a;
}

/* .wrapper {
  border: 5px solid #d4d4dc;
  border-radius: 5px;
} */

.btn {
  background-color: #d4d4dc;
  border: none;
  border-radius: 5px;
  transition: all 0.5s;
}

.active {
  transform: scale(1.1);
  background-color: #feda6a;
}

.main-grid .footer {
  background-color: #d4d4dc;
}
